.page {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  transform: translate(120%);
  animation-name: PageIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.page__container {
  width: 60%;
  height: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page__title {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.page__button {
  padding: 1rem 1.2rem;
  font-size: 2rem;

  border-radius: 8px;

  background-color: var(--color-green);

  cursor: pointer;
  transition: all 0.3s;
}

.page__button:hover {
  transform: scale(1.05);
}
